@import "@tailwind/base";
@import "@tailwind/components";
@import "@tailwind/utilities";

body {
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
  }